<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Image Search</title>
  <style type="text/css">
    h1{font:bold 3em/2em Helvetica,sans-serif;}
    html{background-color:#f8f8f8;}
    body{width:1000px;margin:0 auto;}
  </style>
</head>
<body>
  <h1>Image Search</h1>
  <form method="post" action="/search" enctype="multipart/form-data">
    <input type="file" name="image"/>
    <input type="submit" name="Search By Image"/>
  </form>
</body>
</html>
